/* Imports - Tipografía */
@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gentium+Plus:ital@1&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html {
  font-family: "Lato", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Lato", sans-serif;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.3;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-sans: "Lato", sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
h2 {
  font-family: "Lato", sans-serif;
  font-size: medium;
}

body {
  font-family: "Lato";
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
}

/* Menu */
.menu {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 15vh;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  opacity: 0.8;
}

.menu a:nth-child(2) {
  margin-left: auto;
}

/* Proyectos */
.proyectos {
  height: 85vh;
  width: 98vw;
  margin: auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, auto);
  /* gap: 20px; */
}

@media screen and (max-width: 600px) {
  .proyectos {
    grid-template-columns: 1fr;
  }

  .proyectos figure img {
    margin: auto;
  }

}

.proyectos figure {
  position: relative;
  /* border: 2px solid black; */
}

.proyectos figure img {
  height: 225px;
  width: 400px;
  object-fit: cover;
  transition: all 400ms ease-in-out;
  opacity: 1;
}

.proyectos figure:hover img {
  opacity: 0.2;
}

.proyectos a:hover figcaption {
  visibility: visible;
  display: grid;
}

.proyectos figure figcaption {
  visibility: hidden;
  color: black;
  text-align: center;
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}

/* Proyecto */
.contenedor {
  display: flex;
  gap: 20px;
  margin: 0px;
  height: 85vh;
}

.contenedor>* {
  flex: 1;
}

.contenedor .imagen img {}

.contenedor .imagen .gif img {
  height: 70 vh;
}

.contenedor .descripcion {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-inline-end: 10vh;
}

.contenedor .next {
  margin-top: auto;
  display: grid;
  grid-auto-flow: column;
}

.contenedor .next svg {
  width: 20px;
  stroke: black;
  display: grid
}

.contenedor .next svg:nth-child(2) {
  place-self: end;
  margin-bottom: 20vh;
}

.contenedor .descripcion h2 {}

.contenedor .descripcion p {}

/* About */
.about .contenedor {}

.about .contenedor div:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.about .contenedor div:nth-child(1) img {
  grid-column: 2 /3;
  grid-row: 1 /2;
}

.about .descripcion {
  background: none;
}
